*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
body{
    height: 100vh;
    font-family: 'Open Sans';
    font-size: 13px;
    color: white;
}

.float-left{
    float: left;
}

.centratura{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* FINE generale */

/* header */
header{
    background-color: lightgray;
    height: 20px;
}

.meeting-id{
    width: 200px;
    height: 100%;
    margin: 0 auto;
    color: black;
}

.circles{
    width: 50px;
    height: 100%;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circle.red{
    background-color: rgb(238, 75, 75);
    border: 1px solid rgb(196, 61, 61);
}

.circle.yellow{
    background-color: rgb(255, 225, 93);
    border: 1px solid rgb(238, 176, 83);
}

.circle.green{
    background-color: #2EB344;
    border: 1px solid #217c30;
    
}
/* FINE header */

/* main */
main{
    background-color: black;
    padding: 40px 0;
    position: relative;
    height: calc(100% - 70px);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.card{
    position: relative;
    width: calc((100% / 5) - 10px);
    height: calc((100% / 5) - 10px);
    margin: 5px;
    background-image: url(../img/ufficio.jpg);
    background-size: cover;
}

.name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.37);
    padding: 5px;
}
main .buttons{
    position: absolute;
    top: 10px;
    right: 20px;
}

main .button{
    margin: 0 5px;
    padding: 3px 10px;
    font-size: 11px;
    background-color: rgb(97, 97, 97);
    border-radius: 5px;
}

.arrow-dx,.arrow-sx{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
}

.arrow-dx i,.arrow-sx i{
    font-size: 50px;
    color: gray;
}

.hover:hover i{
    color: cyan;
}
/* FINE main */

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    height: 50px;
}

footer .sx,footer .center,footer .dx{
    height: 100%;
}

footer .dx{
    background-color: rgb(97, 97, 97);
    color: rgb(236, 59, 59);
}

footer .button{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

footer .button.arrow-up{
    margin: 0;
}

footer .button i{
    font-size: 20px;
    position: relative;
}

footer .button.arrow-up i{
    font-size: 1em;
}

footer .button .participants{
    position: absolute;
    top: 0;
    right: 20px;
}

footer .button.share-screen i{
    color: greenyellow;
}

footer .button.record>i{
    padding: 0 6px 2px 0;
}

footer .button.record .fa-chevron-up{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* FINE footer */

/* debug */
body.debug{
    background-color: gray;
}

.container{
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.debug .meeting-id,.debug .circles{
    background-color: red;
}

.debug .cards{
    background-color: yellow;
}

.debug .card{
    background-color: red;
    border: 1px solid blue;
}

.debug main .buttons{
    background-color: blue;
}

.debug main .button{
    background-color: red;
}

.debug .arrow-dx,.debug .arrow-sx{
    background-color: red;
}
/* FINE debug */