*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generale */
body{
    height: 100vh;
    font-family: 'Open Sans';
    font-size: 13px;
    color: white;
}

.float-left{
    float: left;
}

.centratura{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* FINE generale */

/* header */
header{
    background-color: lightgray;
    height: 20px;
}

.meeting-id{
    width: 20%;
    margin: 0 auto;
    color: black;
}

.circles{
    width: 4%;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2EB344;
}
/* FINE header */

/* main */
main{
    background-color: black;
    padding: 40px 0;
    position: relative;
    height: calc(100% - 70px);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.card{
    width: calc(100% / 5);
    height: calc(100% / 5);
}

main .buttons{
    position: absolute;
    top: 10px;
    right: 20px;
}

main .button{
    margin: 0 5px;
    padding: 3px;
    font-size: 11px;
}

.arrow-dx,.arrow-sx{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 70px;
}

.arrow-dx i,.arrow-sx i{
    font-size: 50px;
    color: gray;
}
/* FINE main */

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    height: 50px;
}

footer .dx{
    background-color: rgb(97, 97, 97);
    color: rgb(236, 59, 59);
    height: 100%;
}

footer .button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

footer .button i{
    font-size: 20px;
}

footer .button.arrow-up i{
    font-size: 1em;
}

footer .button.share-screen i{
    color: greenyellow;
}
/* FINE footer */

/* debug */
body.debug{
    background-color: gray;
}

.container{
    width: 75%;
    margin: 0 auto;
    height: 100%;
}

.debug .meeting-id, .circles{
    background-color: red;
    height: 100%;
}

.debug .cards{
    background-color: yellow;
}

.debug .card{
    background-color: red;
    border: 1px solid blue;
}

.debug main .buttons{
    background-color: blue;
}

.debug main .button{
    background-color: red;
}

.debug .arrow-dx,.debug .arrow-sx{
    background-color: red;
}

.debug footer .sx,.debug footer .center,{
    height: 100%;
    background-color: red;
}

/* FINE debug */